table {
  color: yellow;
  background-color: white;
}
.flex-container img {
  transform: rotate(180deg);
}
#rotita {
  transform: rotate(90deg);
  max-width: 350px;
  max-height: 350px;
  margin-left: 12px;
}
#doi {
  width: 100px;
  height: 220px;
}
.this-is-not-ok {
  color: red;
  font-size: 30px;
}
