/* Header */
header {
  background-image: url("../imgs/3.jpg");
  background-size: cover;
  font-size: 200%;
  text-align: center;
  color: white;
}
.container-cent {
  text-align: center;
  color: white;
}
.centered h1 {
  text-shadow: 2px 2px 2px black;
}
.centered {
  line-height: 55vh;
  display: inline-block;
  vertical-align: middle;
}

.this-is-not-ok {
  display: none;
}

/* nav */

.salut {
  text-align: center;
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

ul > li {
  padding-left: 80px;
  float: left;
  display: inline;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

/*Page content
Images (Portfolio)
 */
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container img {
  max-width: 350px;
  max-height: 350px;
  margin-left: 12px;
  /* margin-left: 50vh; */
}

#portfolio {
  margin-right: 50px;
  margin-left: 50px;
  background-color: green;
}
#rotita {
}
.centru {
  color: black;
  text-align: center;
}

/* Contact */

#contact {
}
form {
  display: block;
  margin-top: 0em;
}
input {
  width: 100%;
}
input[type="text"] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}
select {
  width: 100%;
  padding: 12px 20px;
}

/* table */
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}
th {
  text-align: left;
}
table {
  border-spacing: 5px;
  width: 100%;
}

/* Footer */

footer {
  background-color: rgb(221, 221, 221);
  text-align: center;
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
}

.likut {
  color: rgb(94, 94, 94);
}
